* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--heading1);
  margin-bottom: 0.67em;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}


/**
   * Remove the border on images inside links in IE 10.
   */

img {
  border-style: none;
  max-width: 100%;
  height: auto;
}

/* Forms
     ========================================================================== */

/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  appearance: button;
  /* Modern property */
  margin: 0;
  /* Reset default margins */
  border: none;
  /* Reset default borders */
  background: transparent;
  /* Ensure no default background */
  font: inherit;
  /* Inherit font styles from parent */
  color: inherit;
  /* Inherit text color */
  padding: 0;
  /* Reset default padding */
  cursor: pointer;
  /* Ensure pointer cursor for all buttons */
}


/**
   * Remove the inner border and padding in Firefox.
   */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */

button:focus-visible,
[type="button"]:focus-visible,
[type="reset"]:focus-visible,
[type="submit"]:focus-visible {
  outline: 1px dotted ButtonText;
  /* Matches focus style */
}


/**
   * Remove the default vertical scrollbar in IE 10+.
   */

textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}


/**
   * Add the correct display in IE 10.
   */

[hidden] {
  display: none;
}


:root {
  --primary-color: #0A1E3D;
  --secondary-color: ;
  --heading1: 4rem;
  --heading2: 3rem;
  --heading3: 2.5rem;
  --sub-heading: 1.5rem;
  --big-text: 1.2rem;
  --normal-text: 1rem;
  --small-text: 0.8rem;
}

body {
  background-color: #0A1E3D;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1308px;
  padding-inline: 24px;
  margin: 0 auto;
}

.m__tb {
  margin-block: 80px;
}

.m__t {
  margin-top: 80px;
}

.m__b {
  margin-bottom: 80px;
}

.p__tb {
  padding-block: 80px;
}

.p__t {
  padding-top: 80px;
}

.p__b {
  padding-bottom: 80px;
}



.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 16px;
  background-color: #0A1E3D;
  border-bottom: 2px solid rgba(255, 255, 255, 0.19);
  position: relative;
  /* Needed for absolute positioning of hamburger menu */
  z-index: 10;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logo span {
  color: #fff;
}

.nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav a {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.cta-button {
  padding: 10px 50px;
  background-color: #E53935;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.nav-toggle {
  display: none;
  /* Hidden by default */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-toggle span {
  display: block;
  width: 24px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
}

.nav-responsive {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  background-color: #0A1E3D;
  padding: 16px;
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
}

.nav-responsive a {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 8px;
  width: 100%;
  text-decoration: none;
}

.nav.show {
  display: flex;
}

.nav-responsive {
  display: none;
  /* Hidden by default */
  flex-direction: column;
  align-items: flex-start;
  background-color: #0A1E3D;
  /* Matches header background */
  padding: 16px;
  position: absolute;
  /* Position it below the header */
  top: 100%;
  /* Align just below the header */
  right: 0;
  width: 100%;
  /* Full-width on smaller screens */
  z-index: 1000;
  /* Ensure it's on top */
}

.nav-responsive.show {
  display: flex;
  /* Becomes visible when `show` is added */
}

/* Media Queries */
@media (max-width: 768px) {
  .nav {
    display: none;
    /* Hide default nav */
  }


  .nav-toggle {
    display: flex;
    /* Show hamburger menu */
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 20px;
  }

  .cta-button {
    padding: 8px 20px;
    font-size: 14px;
  }

  .nav-responsive a {
    font-size: 16px;
  }
}


/* Hero Section */


.hero {
  overflow-x: clip;
  position: relative;
}

.hero::after {
  position: absolute;
  top: 40%;
  right: 64%;
  content: '';
  height: 100%;
  width: 50%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(239, 1, 7, 0.14) 0%, rgba(239, 1, 7, 0) 100%);
  z-index: -1;


}

.hero-container {
  display: flex;

}

.hero-left {
  position: relative;
  text-align: left;
  width: 50%;
}

.hero-left h1 {
  font-family: "Oswald", serif;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: clamp(24px, 4vw, 48px);
  line-height: 62px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.hero-left h1 span {
  display: block;
  font-size: clamp(32px, 5vw, 68px);
  font-weight: 600;
}

.hero-left p {
  font-family: "Overpass", serif;
  font-style: normal;
  font-weight: 400;
  color: #C0C0C0;
  font-size: 14px;
  line-height: 126%;
  margin: 24px 0;
}


.number {
  position: absolute;
  top: -60px;
  color: #7ECFFD;
  right: 145px;

}

.number::after {
  position: absolute;
  content: "";
  width: 124px;
  height: 33px;
  left: 44px;
  bottom: 18px;
  background: #75D069;
  transform: skewX(-15deg);
  z-index: -1;
}

.number h2 {
  letter-spacing: 24px;
  font-size: 158px;
  font-weight: bold;
  font-family: "DM Sans", serif;
  color: #fff;
  opacity: 0.1;
}

.profile-info {
  display: flex;
  align-items: center;
}

.profile-info-item {
  padding-right: 24px;
  color: #fff;
  border-right: 2px solid rgba(255, 255, 255, 0.19);
  font-size: 14px;
  font-family: "Overpass", serif;
  margin-right: 24px;
}

.profile-info-item img {
  width: 28px;
  height: 28px;

}

.hero-right {
  position: relative;
  width: 50%;
}

.subtract {
  position: absolute;
  left: -10%;

}

.subtract img {
  height: 400px;

}

.hero-image-main {
  text-align: center;
  margin-top: -100px;



}

.hero-image-main img {
  width: 100%;
  height: 100%;
  max-width: 550px;
}

.hero-image-back {
  position: absolute;
  z-index: -1;
  top: -80px;
  right: -170px;
  max-width: 530px;
  mix-blend-mode: multiply;
  opacity: 0.26;
  filter: saturate(0);

}

.hero-image-back img {
  width: 100%;
  height: 100%;
  max-width: 600px;
}

.stats-container {
  background: #0F2A42;
  opacity: 0.8;
  border-radius: 4px;
  max-width: 420px;
}



.stats-container .stats-heading p {
  text-align: center;
  color: #FFFFFF;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  padding-block: 14px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.19);
}

.stats-wrapper {
  display: flex;
  align-items: center;
}

.stats-left {
  width: 50%;
  border-right: 2px solid rgba(255, 255, 255, 0.19);
}

.stats-right {
  width: 50%;
  display: flex;
  align-items: center;
  padding-inline: 12px;
  gap: 24px;
}

.stats-right .stats-item img {
  width: 100%;
  margin-left: 12px;
}

.stats-right .cards img {
  width: 68%;
}

.stats-container .stats-name {
  color: #FFFFFF;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  padding-block: 14px;
  padding-right: 24px;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
}

.stats-container .stats-name i {
  color: #fa0000;
}



.progress-circle {
  font-size: 12px;
  margin: 20px;
  position: relative;
  /* so that children can be absolutely positioned */
  padding: 0;
  width: 5em;
  height: 5em;
  background-color: #F2E9E1;
  border-radius: 50%;
  line-height: 5em;
  float: left;
}

.progress-circle:after {
  border: none;
  position: absolute;
  top: 0.35em;
  left: 0.35em;
  text-align: center;
  display: block;
  border-radius: 50%;
  width: 4.3em;
  height: 4.3em;
  background-color: white;
  content: " ";
}

/* Text inside the control */
.progress-circle span {
  position: absolute;
  line-height: 5em;
  width: 5em;
  text-align: center;
  display: block;
  color: #53777A;
  z-index: 2;
}

.left-half-clipper {
  border-radius: 50%;
  width: 5em;
  height: 5em;
  position: absolute;
  clip: rect(0, 5em, 5em, 2.5em);
}

/* when p>50, don't clip left half*/
.progress-circle.over50 .left-half-clipper {
  clip: rect(auto, auto, auto, auto);
}

.value-bar {
  /*This is an overlayed square, that is made round with the border radius,
  then it is cut to display only the left half, then rotated clockwise
  to escape the outer clipping path.*/
  position: absolute;
  /*needed for clipping*/
  clip: rect(0, 2.5em, 5em, 0);
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border: 0.45em solid #75D069;
  ;
  /*The border is 0.35 but making it larger removes visual artifacts */
  /*background-color: #4D642D;*/
  /* for debug */
  box-sizing: border-box;

}

/* Progress bar filling the whole right half for values above 50% */
.progress-circle.over50 .first50-bar {
  /*Progress bar for the first 50%, filling the whole right half*/
  position: absolute;
  /*needed for clipping*/
  clip: rect(0, 5em, 5em, 2.5em);
  background-color: #75D069;
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

.progress-circle:not(.over50) .first50-bar {
  display: none;
}


/* Progress bar rotation position */
.progress-circle.p0 .value-bar {
  display: none;
}

.progress-circle.p1 .value-bar {
  transform: rotate(4deg);
}

.progress-circle.p2 .value-bar {
  transform: rotate(7deg);
}

.progress-circle.p3 .value-bar {
  transform: rotate(11deg);
}

.progress-circle.p4 .value-bar {
  transform: rotate(14deg);
}

.progress-circle.p5 .value-bar {
  transform: rotate(18deg);
}

.progress-circle.p6 .value-bar {
  transform: rotate(22deg);
}

.progress-circle.p7 .value-bar {
  transform: rotate(25deg);
}

.progress-circle.p8 .value-bar {
  transform: rotate(29deg);
}

.progress-circle.p9 .value-bar {
  transform: rotate(32deg);
}

.progress-circle.p10 .value-bar {
  transform: rotate(36deg);
}

.progress-circle.p11 .value-bar {
  transform: rotate(40deg);
}

.progress-circle.p12 .value-bar {
  transform: rotate(43deg);
}

.progress-circle.p13 .value-bar {
  transform: rotate(47deg);
}

.progress-circle.p14 .value-bar {
  transform: rotate(50deg);
}

.progress-circle.p15 .value-bar {
  transform: rotate(54deg);
}

.progress-circle.p16 .value-bar {
  transform: rotate(58deg);
}

.progress-circle.p17 .value-bar {
  transform: rotate(61deg);
}

.progress-circle.p18 .value-bar {
  transform: rotate(65deg);
}

.progress-circle.p19 .value-bar {
  transform: rotate(68deg);
}

.progress-circle.p20 .value-bar {
  transform: rotate(72deg);
}

.progress-circle.p21 .value-bar {
  transform: rotate(76deg);
}

.progress-circle.p22 .value-bar {
  transform: rotate(79deg);
}

.progress-circle.p23 .value-bar {
  transform: rotate(83deg);
}

.progress-circle.p24 .value-bar {
  transform: rotate(86deg);
}

.progress-circle.p25 .value-bar {
  transform: rotate(90deg);
}

.progress-circle.p26 .value-bar {
  transform: rotate(94deg);
}

.progress-circle.p27 .value-bar {
  transform: rotate(97deg);
}

.progress-circle.p28 .value-bar {
  transform: rotate(101deg);
}

.progress-circle.p29 .value-bar {
  transform: rotate(104deg);
}

.progress-circle.p30 .value-bar {
  transform: rotate(108deg);
}

.progress-circle.p31 .value-bar {
  transform: rotate(112deg);
}

.progress-circle.p32 .value-bar {
  transform: rotate(115deg);
}

.progress-circle.p33 .value-bar {
  transform: rotate(119deg);
}

.progress-circle.p34 .value-bar {
  transform: rotate(122deg);
}

.progress-circle.p35 .value-bar {
  transform: rotate(126deg);
}

.progress-circle.p36 .value-bar {
  transform: rotate(130deg);
}

.progress-circle.p37 .value-bar {
  transform: rotate(133deg);
}

.progress-circle.p38 .value-bar {
  transform: rotate(137deg);
}

.progress-circle.p39 .value-bar {
  transform: rotate(140deg);
}

.progress-circle.p40 .value-bar {
  transform: rotate(144deg);
}

.progress-circle.p41 .value-bar {
  transform: rotate(148deg);
}

.progress-circle.p42 .value-bar {
  transform: rotate(151deg);
}

.progress-circle.p43 .value-bar {
  transform: rotate(155deg);
}

.progress-circle.p44 .value-bar {
  transform: rotate(158deg);
}

.progress-circle.p45 .value-bar {
  transform: rotate(162deg);
}

.progress-circle.p46 .value-bar {
  transform: rotate(166deg);
}

.progress-circle.p47 .value-bar {
  transform: rotate(169deg);
}

.progress-circle.p48 .value-bar {
  transform: rotate(173deg);
}

.progress-circle.p49 .value-bar {
  transform: rotate(176deg);
}

.progress-circle.p50 .value-bar {
  transform: rotate(180deg);
}

.progress-circle.p51 .value-bar {
  transform: rotate(184deg);
}

.progress-circle.p52 .value-bar {
  transform: rotate(187deg);
}

.progress-circle.p53 .value-bar {
  transform: rotate(191deg);
}

.progress-circle.p54 .value-bar {
  transform: rotate(194deg);
}

.progress-circle.p55 .value-bar {
  transform: rotate(198deg);
}

.progress-circle.p56 .value-bar {
  transform: rotate(202deg);
}

.progress-circle.p57 .value-bar {
  transform: rotate(205deg);
}

.progress-circle.p58 .value-bar {
  transform: rotate(209deg);
}

.progress-circle.p59 .value-bar {
  transform: rotate(212deg);
}

.progress-circle.p60 .value-bar {
  transform: rotate(216deg);
}

.progress-circle.p61 .value-bar {
  transform: rotate(220deg);
}

.progress-circle.p62 .value-bar {
  transform: rotate(223deg);
}

.progress-circle.p63 .value-bar {
  transform: rotate(227deg);
}

.progress-circle.p64 .value-bar {
  transform: rotate(230deg);
}

.progress-circle.p65 .value-bar {
  transform: rotate(234deg);
}

.progress-circle.p66 .value-bar {
  transform: rotate(238deg);
}

.progress-circle.p67 .value-bar {
  transform: rotate(241deg);
}

.progress-circle.p68 .value-bar {
  transform: rotate(245deg);
}

.progress-circle.p69 .value-bar {
  transform: rotate(248deg);
}

.progress-circle.p70 .value-bar {
  transform: rotate(252deg);
}

.progress-circle.p71 .value-bar {
  transform: rotate(256deg);
}

.progress-circle.p72 .value-bar {
  transform: rotate(259deg);
}

.progress-circle.p73 .value-bar {
  transform: rotate(263deg);
}

.progress-circle.p74 .value-bar {
  transform: rotate(266deg);
}

.progress-circle.p75 .value-bar {
  transform: rotate(270deg);
}

.progress-circle.p76 .value-bar {
  transform: rotate(274deg);
}

.progress-circle.p77 .value-bar {
  transform: rotate(277deg);
}

.progress-circle.p78 .value-bar {
  transform: rotate(281deg);
}

.progress-circle.p79 .value-bar {
  transform: rotate(284deg);
}

.progress-circle.p80 .value-bar {
  transform: rotate(288deg);
}

.progress-circle.p81 .value-bar {
  transform: rotate(292deg);
}

.progress-circle.p82 .value-bar {
  transform: rotate(295deg);
}

.progress-circle.p83 .value-bar {
  transform: rotate(299deg);
}

.progress-circle.p84 .value-bar {
  transform: rotate(302deg);
}

.progress-circle.p85 .value-bar {
  transform: rotate(306deg);
}

.progress-circle.p86 .value-bar {
  transform: rotate(310deg);
}

.progress-circle.p87 .value-bar {
  transform: rotate(313deg);
}

.progress-circle.p88 .value-bar {
  transform: rotate(317deg);
}

.progress-circle.p89 .value-bar {
  transform: rotate(320deg);
}

.progress-circle.p90 .value-bar {
  transform: rotate(324deg);
}

.progress-circle.p91 .value-bar {
  transform: rotate(328deg);
}

.progress-circle.p92 .value-bar {
  transform: rotate(331deg);
}

.progress-circle.p93 .value-bar {
  transform: rotate(335deg);
}

.progress-circle.p94 .value-bar {
  transform: rotate(338deg);
}

.progress-circle.p95 .value-bar {
  transform: rotate(342deg);
}

.progress-circle.p96 .value-bar {
  transform: rotate(346deg);
}

.progress-circle.p97 .value-bar {
  transform: rotate(349deg);
}

.progress-circle.p98 .value-bar {
  transform: rotate(353deg);
}

.progress-circle.p99 .value-bar {
  transform: rotate(356deg);
}

.progress-circle.p100 .value-bar {
  transform: rotate(360deg);
}

/* Default styles will apply to larger screens (desktop) */

/* Tablet styles */
@media (max-width: 1024px) {

  .hero-container {
    flex-direction: column;
    text-align: center;
  }

  .hero-image-main {
    margin-top: -60px;
  }

  .hero-left,
  .hero-right {
    width: 100%;
    padding: 84px 16px 0px 16px;
  }

  .hero-left h1 {
    font-size: clamp(20px, 5vw, 36px);
  }

  .hero-left h1 span {
    font-size: clamp(28px, 6vw, 56px);
  }

  .hero-image-main img {
    max-width: 400px;
  }

  .profile-info-item {
    padding-right: 16px;
    font-size: 12px;
  }

  .stats-container {
    max-width: 100%;
  }

  .progress-circle {
    width: 4em;
    height: 4em;
  }
}

/* Mobile styles */
@media (max-width: 768px) {

  .cta-button {
    padding: 8px 20px;
    font-size: 14px;
  }

  .hero-left h1 {
    font-size: clamp(16px, 4vw, 28px);
  }

  .number {
    top: 90px;
    right: 390px;
  }

  .number h2 {
    font-size: 104px;
    letter-spacing: 12px;
  }

  .number::after {
    width: 90px;
    height: 24px;
  }

  .hero-left h1 span {
    font-size: clamp(20px, 5vw, 40px);
  }

  .hero-image-main img {
    max-width: 400px;
  }

  .hero-image-back {
    top: 30px;
    right: -20px;
    max-width: 404px;
  }

  .subtract {
    left: 0%;
  }

  .subtract img {
    height: 190px;
  }



  .stats-container {
    padding: 0 10px;
  }

  .progress-circle {
    width: 3em;
    height: 3em;
  }
}

/* Small mobile screens */
@media (max-width: 480px) {

  .nav {
    gap: 10px;
  }

  .p__t{
    padding-top: 0;
  }

  .hero-image-main img {
    max-width: 300px;
  }

  .hero-image-back {
    top: 40px;
    right: -80px;
    max-width: 242px;
  }

  .subtract {
    left: -20%;
  }

  .subtract img {
    height: 240px;
  }

  .hero-left h1 {
    font-size: clamp(40px, 4vw, 24px);
  }

  .hero-left h1 span {
    font-size: clamp(18px, 5vw, 32px);
  }

  .number {

    top: 134px;
    right: 150px;
  }

  .number::after {
    width: 44px;
    height: 12px;
  }

  .number h2 {
    font-size: 60px;
    letter-spacing: 8px;
  }

  .hero-left p {
    font-size: 12px;
  }

  .cta-button {
    padding: 6px 16px;
    font-size: 12px;
  }

  .profile-info-item {
    padding-right: 8px;
    font-size: 10px;
  }

  .hero-image-main img,
  .hero-image-back img {
    max-width: 250px;
  }

  .progress-circle {
    width: 2.5em;
    height: 2.5em;
  }
}




/* Match Week Section */

.match-weeks {
  background: linear-gradient(180deg, #F0F1F3 0%, #FCFCFC 100%);
}

.match-week {
  text-align: center;
  padding: 20px;
}

.match-week h1 {
  position: relative;
  color: #111C3B;
  margin-bottom: 20px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
  z-index: 1;
}

.match-week h1::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 20px;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%) skewX(-15deg);
  background: #75D069;
  z-index: -1;
}

.match-schedule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 20px;
}


.match-card {
  background: #FFFFFF;
  border-radius: 4px;
  padding: 10px 15px;
  text-align: center;
  flex: 0 0 auto;
}

.match-card .match-card-heading {
  color: #777;
  margin-bottom: 5px;
  font-size: 12px;
}

.match-card .team-score-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.match-card .team-score-wrapper .teams {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  font-weight: bold;
}

.match-card .team-score-wrapper .teams img {
  width: 22px;
  height: 22px;
}

.match-card .team-score-wrapper .teams .WAC {
  width: 22px;
  height: 30px;
}

.match-card .score {
  background: #e74c3c;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  display: inline-block;
}

.match-card .time {
  background: #F3F4F5;
  color: #777;
  padding: 5px 10px;
  border-radius: 4px;
}

.match-week-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.player-card {
  background: linear-gradient(180.1deg, #061728 11.8%, #01294F 75.54%);
  position: relative;
  z-index: 0;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.player-card img {
  position: relative;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.player-card::after {
  position: absolute;
  content: "10";
  background: radial-gradient(50% 50% at 50% 50%, rgba(239, 1, 7, 0.25) 75%, rgba(239, 1, 7, 0) 100%);
  transform: translateX(-50%);
  border-radius: 50%;
  color: #58636E;
  opacity: 0.2;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 204px;
  letter-spacing: 4px;
  left: 50%;
  top: -12px;
  z-index: -1;
}



.player-card .player-names {
  position: absolute;
  top: 234px;
  right: 20px;
  /* background: linear-gradient(180.1deg, #061728 11.8%, rgba(22, 33, 65, 0) 75.54%);
  border-radius: 0px 0px 8px 8px; */

}



.player-card .player-names .player-name {
  font-family: 'Oswald';
  font-style: normal;
  line-height: 109%;
  color: white;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  /* background: linear-gradient(180.1deg, #061728 11.8%, rgba(22, 33, 65, 0) 75.54%); */
  border-radius: 0px 0px 8px 8px;
}

.player-card .player-names .player-name span {
  color: #75D069;
}

.player-card .player-names .position {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #75D069;
  text-align: center;
  text-transform: uppercase;
  margin-top: 12px;
}


.match-week .match-week-container .player-card .player-names .profile-info {
  padding: 0 12px;
  display: flex;
  align-items: center;
}

.match-week .match-week-container .player-card .player-names .profile-info-item {
  padding-right: 14px;
  color: #fff;
  border-right: 2px solid rgba(255, 255, 255, 0.19);
  font-size: 12px;
  font-family: "Overpass", serif;
  margin-right: 14px;
}

.match-week .match-week-container .player-card .player-names .profile-info img {
  width: 28px;
  height: 28px;
}

.player-card .stats-button span {
  background: #142333;
  color: #FFFFFF;
  padding: 8px 54px;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 103%;
}

.stats-items {
  padding: 24px;
}

.match-week-container .player-card .stats-items .circular-stats {
  display: flex;
  align-items: center;
  justify-content: center;
}

.match-week-container .player-card .stats-items .circular-stats .stats-item-wrapper .name {
  color: #FFFFFF;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 136%;
  text-transform: uppercase;
}

.progress-stats {
  margin: 12px;
}

.progress-bar-item {
  position: relative;
  border: 4px solid rgba(255, 255, 255, 0.24);
  border-radius: 4px;

}

.progress-bar-item::before {
  position: absolute;
  top: -4px;
  right: 32px;
  content: '';
  border: 4px solid #75D069;
  border-radius: 4px;
  height: 100%;
  width: 80%;
}

.progress-bar-item-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0;
}

.progress-bar-item-stats p {
  color: #FFFFFF;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 103%;
  text-transform: uppercase;
}




.match-details-container-wrapper .match-details-container {
  background: linear-gradient(90deg, #00284F 7.24%, #051625 94.15%);
  color: #fff;
  border-radius: 8px;
  padding: 16px 0;
  text-align: center;
  min-height: 360px;
  width: 100%;
}

.match-details .match-detail-heading {
  position: relative;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 7px;
  display: flex;
  justify-content: center;
  background: #00284F;
  /* padding: 16px;
  margin-top: 10px; */
}

.match-details .match-detail-heading::before {
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  left: 50%;
  top: 50%;
  content: '';
  width: 90%;
  transform: translate(-50%, -50%);
}

.match-details .match-detail-heading h2 {
  background: #00284F;
  width: fit-content;
  z-index: 1;
  padding-inline: 20px;
}


.match-details .match-detail-items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  margin: 28px;
  border-radius: 15px;
  gap: 40px;
}

.match-details .match-detail-items .match-detail-item-left {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 103%;
  text-transform: uppercase;
  gap: 12px;

}

.match-details .match-detail-items .match-detail-item-right {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 103%;
  text-transform: uppercase;
  gap: 12px;
}

.match-details .match-detail-items .match-detail-item-left img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #00ff00;
}

.match-details .match-detail-items .match-detail-item-right img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid #00ff00;
}

.match-details .match-detail-items .match-detail-item-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  line-height: 103%;
  text-transform: uppercase;

}

.match-details .match-detail-items .match-detail-item-center p {
  color: #FFFFFF;
  font-size: 14px;
  letter-spacing: 3px;
}

.match-details .match-detail-items .match-detail-item-center span {
  border-right: 2px solid rgba(255, 255, 255, 0.19);
  margin: 0 12px;

}


.match-details .match-detail-items .match-detail-item-center .vs {
  background: #F3F4F5;
  border-radius: 16px;
  font-size: 16px;
  color: #2A445D;
  padding: 4px 20px;
  font-weight: bold;
}

.match-details .border {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0 24px;
  align-items: center;
}


.match-details-container-wrapper svg {
  margin-top: -4px;
  width: 100%;

}

.football-ground {
  margin-top: -124px;
}

/* Responsive Typography */
@media (max-width: 768px) {
  .match-week h1 {
    font-size: 32px;
    letter-spacing: 4px;
  }
}

/* Match Week Container Responsive Layout */
@media (max-width: 1024px) {
  .match-week-container {
    flex-direction: column;
    align-items: center;
  }

  .player-card {
    width: 100%;
    max-width: 350px;
  }

  .match-details-container-wrapper {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
  }
}

/* Player Card Responsive Styles */
@media (max-width: 768px) {
  .player-card .player-names {
    top: 260px;
    right: 60px;
  }

  .player-card .player-names .player-name {
    font-size: 18px;
  }

  .player-card .player-names .position {
    font-size: 14px;
  }

  .stats-items {
    padding: 16px;
  }

  .match-week .match-week-container .player-card .player-names .profile-info-item {
    padding-right: 8px;
    margin-right: 8px;
    font-size: 11px;
  }
}

/* Match Details Responsive Styles */
@media (max-width: 768px) {
  .match-details .match-detail-items {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    gap: 40px;
    padding: 15px;
    margin: 15px;
    gap: 20px;
  }

  .match-details .match-detail-items .match-detail-item-left img,
  .match-details .match-detail-items .match-detail-item-right img {
    width: 60px;
    height: 60px;
  }

  .match-details .match-detail-heading h2 {
    font-size: 12px;
    letter-spacing: 5px;
  }

  .match-details .match-detail-items .match-detail-item-left,
  .match-details .match-detail-items .match-detail-item-right {
    font-size: 14px;
  }
}

/* Small Screen Optimizations */
@media (max-width: 480px) {
  .match-card .team-score-wrapper {
    gap: 8px;
  }

  .match-card .team-score-wrapper .teams {
    font-size: 12px;
    gap: 8px;
  }

  .match-card .team-score-wrapper .teams img {
    width: 18px;
    height: 18px;
  }

  .match-details-container-wrapper svg {
    width: 100%;
    height: auto;
  }

  .progress-stats {
    margin: 8px;
  }

  .progress-bar-item-stats p {
    font-size: 11px;
  }
}

/* Fix for circular stats on smaller screens */
@media (max-width: 360px) {
  .match-week-container .player-card .stats-items .circular-stats {
    flex-direction: column;
    gap: 15px;
  }
}


/* Ranking Section */

.ranking-section {
  background: linear-gradient(75.19deg, #00284F -51.31%, #051625 106.25%);
}

.ranking h1 {
  position: relative;
  color: #FFFFFF;
  margin-bottom: 20px;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  text-align: center;
  font-size: 46px;
  letter-spacing: 6px;
  text-transform: uppercase;
  z-index: 1;
}

.ranking h1::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 20px;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%) skewX(-15deg);
  background: #75D069;
  z-index: -1;
}



.bracket {
  flex-shrink: 0;
  width: 20px;
  height: 100px;
  position: relative;
  background-color: transparent;
  border-top: 1px solid #00ff00;
  border-bottom: 1px solid #00ff00;
  border-left: 1px solid #00ff00;
  margin-bottom: 28px;
}



.bracket:last-child {
  border-left: 0;
  border-right: 1px solid #00ff00;
  box-shadow: none;
}




.ranking .teams {
  display: flex;
  justify-content: center;
  align-items: center;
}


.team-wrapper {
  width: calc(100% - 40px);


}

.team {
  display: flex;
  align-items: center;
  background: #152F45;
  padding: 12px;
  padding-left: 0;
  border-radius: 4px;
  gap: 12px;
  text-align: center;
  width: auto;
}

.team span {
  background: #061626;
  color: #FFFFFF;
  height: 100%;
  padding: 4px 12px;
  align-self: center;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;


}


.owl-item:first-child .team .dot {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-left: -4px;
}

.owl-theme .owl-dots .owl-dot.active span {
  background: #75D069;
}

.owl-theme .owl-dots .owl-dot span {
  width: 54px;
  height: 2px;
}


.team-wrapper .team .dot {
  color: #75D069;
  margin-left: -4px;
}

.team p {
  color: #FFFFFF;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  align-items: center;

}


.team img {
  border: 8px solid rgba(255, 255, 255, 0.07);
  border-radius: 50%;
  max-height: 40px;
}

.owl-carousel .owl-item img {
  width: auto;
}

.extra {
  color: #FFFFFF;
  font-family: 'Sen';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: right;


}

.lorem {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 12px;
  gap: 12px;
}


.stats-player {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 104px;
  margin-bottom: 54px;
}

.stats-player span {
  position: relative;
  color: #FFFFFF;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  letter-spacing: 6px;
  text-transform: uppercase;
  z-index: 1;
}

.stats-player span::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 20px;
  bottom: 2px;
  left: 8%;
  transform: translateX(-50%) skewX(-15deg);
  background: #75D069;
  z-index: -1;
}

.section-stats-container {
  display: flex;
  gap: 20px;

}

.section-stats-card {
  background: linear-gradient(180deg, #75D069 -113.01%, #061626 64.27%);
  box-shadow: 0px 1px 21px 4px rgba(0, 0, 0, 0.04);
  border-radius: 0px 0px 7px 7px;
}

.section-stats-card .section-stats-name {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  text-transform: uppercase;
  padding: 64px 24px 24px 50px;

  z-index: 1;
}

.section-stats-card .section-stats-name::before {
  position: absolute;
  content: "17";
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.11);
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  font-size: 112px;
  letter-spacing: 1px;
  text-transform: uppercase;
  left: 15%;
  top: 4px;
  z-index: -1;

}

.section-stats-name .imgre {
  max-width: 64px;
}

.section-stats-card .profile-info {
  padding-inline: 50px;
}

.section-stats-card .profile-info .profile-info-item img {
  height: auto;
  width: auto;
}

.section-stats-card .profile-info .profile-info-item {
  color: #FFFFFF;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 2px;
  padding-inline: 8px;

}

.section-stats-card .profile-info .profile-info-item:first-child {
  padding-left: 0;
}

.section-stats-card .profile-info .profile-info-item:last-child {
  padding-right: 0;
  border: none;
}

.stats-img-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.stats-bar-container-wrapper {
  padding: 24px 24px 24px 50px;
}

.stats-bar-container-wrapper svg {
  margin-top: 12px;
}

.stats-bar-container .progress-bar-item {
  border: 4px solid rgba(255, 255, 255, 0.3);
}


.stats-bar-container .progress-bar-item::before {
  right: 12px;
}

.stats-bar-container .progress-bar-item-stats {
  gap: 24px;
  white-space: nowrap;
}

.stats-bar-container .progress-bar-item-stats p {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-transform: capitalize;
}

.stats-bar-container .progress-bar-item-stats p:last-child {
  color: #FFFFFF;

}

.stats-club-card-container {
  display: flex;

}

.stats-club-card {
  background: #061627;
  border: 2px solid rgba(42, 68, 93, 0.11);
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.07);
  border-radius: 0px 0px 7px 7px;
  position: relative;
  z-index: 1;
}

.stats-club-card::after {
  position: absolute;
  background: linear-gradient(90.02deg, #75D069 0%, #75D069 101.76%);
  content: "";
  height: 2px;
  width: 100%;
  bottom: 100%;
  left: 0%;
  z-index: -1;

}

.stats-club-name {
  display: flex;
  gap: 16px;
  padding: 54px 44px 50px 24px;
}

.stats-club-name-right .name {
  padding-top: 12px;
}

.stats-club-name-right p {
  color: #FFFFFF;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  white-space: nowrap;
}

.stats-club-name-right .name p {
  color: #FFFFFF;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;

}

.stats-club-name-right .name p:first-child {
  color: #FFFFFF;
  opacity: 0.5;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 1px;
}

.stats-num-container {
  background: rgba(255, 255, 255, 0.06);
  border: 0.4px solid rgba(13, 29, 47, 0.76);
  border-radius: 3px;
  padding: 12px;
  margin: 0 8px 0 8px;
}

.stats-num-wrapper {
  display: flex;
  justify-content: space-between;
}

.stats-num-wrapper .stats-num-left {
  padding: 0 12px 24px 0;
}

.stats-num-wrapper .stats-num-right {
  padding-left: 12px;
}

.stats-num-wrapper .stats-num-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.stats-num-wrapper .stats-num-item p {
  color: #FFFFFF;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-transform: capitalize;
  white-space: nowrap;
}

.stats-num-wrapper .stats-num-item p:first-child {
  color: #75D069;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  min-width: 32px;
}

.stats-num-container .border {
  opacity: 0.2;
  border: 0.4px solid rgba(255, 255, 255, 0.6);
}

.stats-num-container .discipline {
  display: flex;
  justify-content: center;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  align-items: center;
  text-transform: capitalize;
  padding-top: 12px;
  gap: 8px;
}


.stats-num-container .discipline img {
  max-height: 14px;
}

.club-link {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  justify-content: center;
  text-align: right;
  font-family: 'Overpass';
  font-style: normal;
  padding: 32px 0 24px 0;
  font-weight: 700;
  font-size: 14px;
}

.stats-club-name .stats-club-name-left img {
  border: 8px solid rgba(255, 255, 255, 0.07);
  border-radius: 50%;
  max-height: 80px;

}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
  .ranking h1 {
    font-size: 36px;
    letter-spacing: 4px;
  }

  .bracket {
    width: 15px;
    height: 80px;
  }

  .team-wrapper {
    width: 100%;
  }

  .team {
    flex-direction: column;
    padding: 16px;
  }

  .team img {
    max-height: 50px;
  }

  .team span {
    font-size: 18px;
    padding: 4px 8px;
  }

  .extra {
    font-size: 12px;
  }

  .stats-player span {
    font-size: 36px;
    letter-spacing: 4px;
  }

  .section-stats-card .section-stats-name {
    padding: 48px 16px 16px 40px;
    font-size: 18px;
  }

  .stats-bar-container-wrapper {
    padding: 16px 16px 16px 32px;
  }

  .stats-club-name {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
    padding: 40px 16px 40px 16px;
  }

  .stats-club-name-right p {
    font-size: 16px;
  }

  .stats-num-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .stats-num-wrapper .stats-num-item p {
    font-size: 10px;
  }

  .club-link {
    font-size: 12px;
    padding: 24px 0 16px 0;
  }
}

@media (max-width: 768px) {
  .ranking h1 {
    font-size: 28px;
    letter-spacing: 2px;
  }

  .team {
    gap: 8px;
    padding: 12px;
  }

  .team span {
    font-size: 16px;
  }

  .stats-player span {
    font-size: 28px;
    letter-spacing: 2px;
  }

  .section-stats-card .section-stats-name {
    padding: 32px 8px 8px 24px;
    font-size: 16px;
  }

  .stats-bar-container-wrapper {
    padding: 12px 12px 12px 24px;
  }

  .stats-club-name {
    padding: 32px 8px 32px 8px;
  }

  .stats-club-name-right p {
    font-size: 14px;
  }

  .stats-num-container {
    padding: 8px;
  }

  .stats-num-wrapper .stats-num-item p {
    font-size: 8px;
  }
}

@media (max-width: 480px) {
  .ranking h1 {
    font-size: 22px;
    letter-spacing: 1px;
  }

  .section-stats-container {
    flex-wrap: wrap;

  }

  .stats-club-card-container {
    flex-wrap: wrap;
  }


  .team {
    flex-direction: row;
    justify-content: center;
    gap: 4px;
  }

  .team span {
    font-size: 14px;
  }

  .stats-player span {
    font-size: 20px;
    letter-spacing: 1px;
  }

  .section-stats-card .section-stats-name {
    padding: 24px 8px 8px 16px;
    font-size: 14px;
  }

  .stats-bar-container-wrapper {
    padding: 8px;
  }

  .stats-club-name {
    padding: 24px 8px;
  }

  .stats-club-name-right p {
    font-size: 12px;
  }

  .stats-num-container {
    padding: 4px;
  }

  .stats-num-wrapper .stats-num-item p {
    font-size: 6px;
  }

  .club-link {
    font-size: 10px;
    padding: 16px 0 12px 0;
  }
}


/*  Partners Section */

.partners {
  background: #F7F7F7;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  text-align: center;
  padding-top: 124px;
  margin-top: -214px;
}

.partners-title {
  position: relative;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #111C3B;
  margin-bottom: 20px;
  z-index: 1;
}

.partners-title::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 20px;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%) skewX(-15deg);
  background: #75D069;
  z-index: -1;
}

.logo-grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

}

.logos-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  align-items: center;
  width: 100%;
  max-width: 80%;
}

.logos-grid img {
  width: 100%;
  max-width: 120px;
  height: auto;
  object-fit: contain;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.logos-grid img:hover {
  filter: grayscale(0%);

}

/* For screens smaller than 768px (large phones) */
@media (max-width: 768px) {
  .partners-title {
    font-size: 28px;
    letter-spacing: 3px;
  }

  .logos-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .logos-grid img {
    max-width: 80px;

  }
}

/* For screens smaller than 480px (small phones) */
@media (max-width: 480px) {
  .partners-title {
    font-size: 24px;
    letter-spacing: 2px;
  }

  .logos-grid {
    gap: 10px;
  }

  .logos-grid img {
    max-width: 60px;

  }
}

/* Newsletter Section */


.newsletter {
  position: relative;
  background-image: url(./Assets/istockphoto-693252158-170667a\ 2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -5;

}

.newsletter::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  clip-path: polygon(81% 0, 100% 0, 100% 100%, 75% 100%, 25% 100%, 0 100%, 0 10%);
  z-index: -1;

}


.overlay-wrapper {
  width: 100%;
  padding-inline: 136px;

}


.overlay-items {
  display: flex;
  justify-content: space-between;
}

.overlay-item-left {
  color: #FFFFFF;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  letter-spacing: 7px;
  text-transform: uppercase;

}

.overlay-item-left::before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  height: 100%;
  width: 50%;
  background: linear-gradient(270deg, #75D069 0%, rgba(117, 208, 105, 0) 80.21%);
  mix-blend-mode: normal;
  opacity: 0.5;
  transform: rotate(-180deg);
  clip-path: polygon(100% 90%, 0% 96%, 0% 0%, 100% 0%);
  z-index: -1;
}

.overlay-item-right {
  color: #FFFFFF;
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;

}

.overlay-items .border {
  height: auto;
  border: 1px solid #F1F2FC;

}


.description {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: none;
  background: #FFFFFF;
  opacity: 0.15;
  margin-right: 10px;
}

.overlay-item-right button {
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #00FF00;
  color: #00FF00;
  cursor: pointer;
}

/* For screens smaller than 1024px (tablets and small desktops) */
@media (max-width: 1024px) {
  .overlay-wrapper {
    padding-inline: 60px;
  }

  .overlay-item-left {
    font-size: 36px;
    letter-spacing: 5px;
  }

  .overlay-items {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .overlay-item-right {
    font-size: 14px;
  }
}

/* For screens smaller than 768px (large phones) */
@media (max-width: 768px) {
  .overlay-wrapper {
    padding-inline: 30px;
  }

  .overlay-item-left {
    font-size: 28px;
    letter-spacing: 3px;
  }

  .overlay-item-right {
    font-size: 12px;
  }

  .form-group input {
    padding: 8px;
  }

  .overlay-item-right button {
    padding: 8px 16px;
  }
}

/* For screens smaller than 480px (small phones) */
@media (max-width: 480px) {
  .overlay-wrapper {
    padding-inline: 15px;
  }

  .overlay-item-left {
    font-size: 20px;
    letter-spacing: 2px;
  }

  .overlay-items {
    flex-direction: column;
    gap: 20px;
  }

  .form-group input {
    padding: 6px;
  }

  .overlay-item-right button {
    padding: 6px 12px;
  }
}


/* footer */

footer {
  background: linear-gradient(90deg, #00284F 7.24%, #051625 94.15%);

}

.footer-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.footer-wrapper::before {
  position: absolute;
  content: '';
  left: -20px;
  top: -60px;
  height: 25px;
  width: 35px;
  background: #75D069;
  transform: skewX(-15deg);
}

.footer-wrapper::after {
  position: absolute;
  content: '';
  left: 22px;
  top: -90px;
  height: 30px;
  width: 35px;
  background: #75D069;
  transform: skewX(-15deg);
}

.footer-column {
  color: white;
  margin-bottom: 20px;
}

.footer-column h4 {
  color: #F1F2FC;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 24px;
}


.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  color: rgba(241, 242, 252, 0.46);
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 141%;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.footer-social {
  display: flex;
  gap: 16px;
  color: #F1F2FC;
  font-size: 32px;
}

footer .border {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 66px;
}

footer .copyright-section {
  display: flex;
  gap: 12px;

}

footer .copyright-section span {
  color: rgba(255, 255, 255, 0.46);
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 141%;
  text-align: center;
  text-transform: uppercase;
}

footer .copyright-section p {

  color: #FFFFFF;
  border-right: 2px solid #75D069;
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  padding-right: 16px;
  text-transform: uppercase;
}

footer .copyright-section p:last-child {
  border-right: none;
  padding: none;
}



footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  align-items: center;
  flex-wrap: wrap;
}

/* For screens smaller than 1024px (tablets and small desktops) */
@media (max-width: 1024px) {
  .footer-wrapper {
    justify-content: space-around;
    flex-direction: column;
  }

  .footer-column {
    flex: 1 1 calc(50% - 20px);
  }

  .footer-social {
    justify-content: center;

  }

  footer .footer-bottom {
    flex-direction: column;
    text-align: center;
  }
}

/* For screens smaller than 768px (large phones) */
@media (max-width: 768px) {
  .footer-column {
    flex: 1 1 100%;
    text-align: center;
  }

  .footer-social {
    font-size: 24px;
  }

  footer .copyright-section {
    gap: 8px;
    text-align: center;

  }


}

/* For screens smaller than 480px (small phones) */
@media (max-width: 480px) {

  .logo {
    padding-block: 14px;
  }

  .footer-wrapper::before,
  .footer-wrapper::after {
    display: none;
  }

  footer .footer-bottom {
    padding: 16px 0;
    text-align: center;

  }

  footer .copyright-section {

    flex-direction: column;
  }

  footer .copyright-section p {
    border-right: none;
  }

  footer .copyright-section p:last-child {
    border-bottom: 2px solid #75D069;
    padding-bottom: 16px;
  }


  footer .copyright-section span {
    text-align: left;
  }

  footer .copyright-section p {
    text-align: left;
  }

  .footer-social {
    font-size: 20px;

  }
}